.centerPage {
    width: 80%;
    background-color: white;
    align-items: center;
    margin: auto;
}

.homepageTitle {
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px #e0e0e0 solid;
    font-weight: 400;
}
